img{
    width: 30%;;
    max-height: 300px;
}
.imagehead{
    height:300px;
    width:100%;
    text-align: center;
}
.value{
    font-size: 60px;
    width:33%;
    text-align: center;
    margin-top:20px;
    position: static;
    overflow: hidden;
    display: inline-block;
    box-shadow: 50px;
}
.imagehead1{
    height:300px;
    width:100%;
    text-align: center;
}
input{
    font-size: 20px;
}
.content{
    font-size: 60px;
    text-align: center;
}
#total{
    font-size: 230px;
    color:gold;
    margin-top:20px;
}
.footer{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    width:100%;
    text-align: center;
    font-size: 15px;
}